<section class="kpmg--offer-wrapper">
    <div class="container kpmg--offer">
        <div class="kpmg--offer__description col-11">
            <h3>We offer our clients</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="row kpmg--offer__block">
            <div class="col-3">
                Convenient and
                simple interface
            </div>
            <div class="col-4">
                KPMG
                consec
                elit
            </div>
            <div class="col-3">
                Convenient and
                simple interface
            </div>
        </div>
    </div>
</section>