.kmpg {
  &--header {
    @include padding-vertical(28px);
    color: $colortxwhite;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    &__wrapper {
      background-color: $colorbgheader;
    }
    &__nav {
      ul {
        @include flexbox();
        li {
          margin: 0 10px;
          text-transform: capitalize;
          font-size: 12px;
          &:hover{
            @include box-shadow(0, 1px, 0, $colortxwhite)
          }
        }
      }
    }
    &-btn {
      background: inherit;
      @include border-radius(30px);
      border: 1px solid $colorblue;
      padding: 15px 30px;
      color: $colortxwhite;
      font-size: 16px;
      text-transform: uppercase;
    }
    &__title {
      font-weight: bold;
      font-size: 30px;
    }
    &__select {
      background: rgba(255, 255, 255, 0);
      color: $colortxwhite;
      border: none;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
      box-sizing: border-box;
      padding: 0 20px 0 0;
      position: relative;
      z-index: 100;
      &__wrapper{
        position: relative;
        z-index: 100;
        box-sizing: border-box;
        &:before {
          content: '>';
          right: 0;
          top: 0;
          color: white;
          display: block;
          position: absolute;
          z-index: 1;
          @include rotate(90);
          font-weight: bold;
        }
      }
      &:before {
        position: absolute;
        content: '>';
        display: block;
        color: $colortxwhite;
        font-size: 12px;
        top: 0;
        left: 0;
      }
    }
  }
}