<section class="kpmg--about__wrapper">
    <div class="container kpmg--about__title ">
        <div>
            <h3 class="_section-title">about us</h3>
        </div>
        <div class="col-12 kpmg--about__items">
            <figure class="col-4">
                <img src="" alt="cup" class="kpmg--about__img">
                <figcaption>
                    <h2>first of big4</h2>
                    <p><span>Lorem ipsum dolor.</span></p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quasi.
                    <a href="#">read more</a>
                    <a href="//kpmg.ua">kpmg.ua</a>
                </figcaption>
            </figure>
            <figure class="col-4">
                <img src="" alt="cup" class="kpmg--about__img">
                <figcaption>
                    <h2>first of big4</h2>
                    <p><span>Lorem ipsum dolor.</span></p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quasi.
                    <a href="#">read more</a>
                    <a href="//kpmg.ua">kpmg.ua</a>
                </figcaption>
            </figure>
            <figure class="col-4">
                <img src="" alt="cup" class="kpmg--about__img">
                <figcaption>
                    <h2>first of big4</h2>
                    <p><span>Lorem ipsum dolor.</span></p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quasi.
                    <a href="#">read more</a>
                    <a href="//kpmg.ua">kpmg.ua</a>
                </figcaption>
            </figure>
        </div>
    </div>
</section>