<section class="kpmg--footer__wrapper">
    <div class="kpmg--footer container">
        <div class="kpmg--footer__mail">
            <h5>Please contact us:
                <a href="mailto:kdr-support@kpmg.ua">kdr-support@kpmg.ua</a>
            </h5>
        </div>
        <div class="kpmg--footer__items">
            <a href="#">
                Accession Agreement
            </a>
            <a href="#">
                Dutch regulations
            </a>
            <a href="#">
                English regulations
            </a>
            <a href="#">
                Operator fee schedule
            </a>
            <a href="#">
                Confirmation letter template
            </a>
            <a href="#">
                Statement of liability limitatio
            </a>
            <a href="#">
                Protection of personal data
            </a>
        </div>
        <div class="kpmg--footer__copyright col-8">
            <p>
                KPMG-Ukraine Ltd., a company incorporated under the Laws of Ukraine, a member firm of the KPMG network of
                independent member firms affiliated with KPMG International Cooperative ("KPMG International"), a Swiss
                entity.
            </p>
        </div>
    </div>
</section>