<header class="kmpg--header__wrapper">
    <section class="container">
        <div class="kmpg--header">
            <img src="images/logo.png" alt="logo" class="logo">
            <div class="kmpg--header__title">Platform user’s choice</div>
            <nav class="kmpg--header__nav">
                <ul>
                    <li>user</li>
                    <li>Authorization</li>
                    <li>admin</li>
                </ul>
            </nav>
            <button class="kmpg--header-btn bnt">go to challenge</button>
            <div class="kmpg--header__select--wrapper">
                <select class="kmpg--header__select">
                    <option>EU</option>
                    <option>RUS</option>
                </select>
            </div>
        </div>
    </section>
</header>