<header class="kpmg--header__wrapper">
    <section class="container">
        <div class="kpmg--header">
            <img src="images/logo.png" alt="logo" class="kpmg--logo col-3 col-sm-2 col-xl-1">
            <div class="kpmg--header__title col-sm-10 col-md-8 col-lg-6 col-xl-4">
                Platform user’s choice
            </div>
            <nav class="kpmg--header__nav col-8 col-sm-5 col-nd-3 col-xl-3">
                <ul>
                    <li>user</li>
                    <li>Authorization</li>
                    <li>admin</li>
                </ul>
            </nav>
            <button class="kpmg--header-btn bnt col-sm-12 col-lg-4 col-xl-3">go to challenge</button>
            <div class="kpmg--header__select__wrapper col-1 col-sm-1">
                <select class="kpmg--header__select">
                    <option>EU</option>
                    <option>RUS</option>
                </select>
            </div>
        </div>
    </section>
</header>