<section class="kpmg--offer-wrapper">
    <div class="container kpmg--offer">
        <div class="kpmg--offer__description col-11">
            <h3 class="_section-title">We offer our clients</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="row kpmg--offer__block">
            <aside class="col-3 kpmg--offer__advantages">
                <div class="kpmg--offer__advantages-item">
                    <h2>
                        Convenient and
                        simple interface
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit,
                        sed do eiusmod tempor
                    </p>
                </div>
                <div class="kpmg--offer__advantages-item">
                    <h2>
                        Long-term support
                    </h2>
                </div>
            </aside>
            <div class="col-4 kpmg--offer__title">
                <h3>
                    KPMG
                    consec
                    elit
                </h3>
            </div>
            <aside class="col-3 kpmg--offer__advantages">
                <div class="kpmg--offer__advantages-item">
                    <h2>
                        Reputation, reliability,
                        and safety
                    </h2>
                </div>
                <div class="kpmg--offer__advantages-item">
                    <h2>
                        Transparency
                    </h2>
                </div>
            </aside>
        </div>
    </div>
</section>